:host {
  table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid darkgray;
  }
  th, td {
    padding: 15px;
    background: white;
  }

  .th-hall {
    text-align: left;
    width: 40%;
  }

  .th {
    width: 15%;
  }
}
