
<div>
  <button class="btn btn-default" (click)="back()" style="width: 6%;background: #ebeff5;height: 60px"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>
</div>
<div *ngIf="raiting" style="margin-top: 20px">
  <div >
    <table>
      <tr>
        <th class="th-hall " style="background: #4CB2FF; color: white">{{typePlace}}</th>
        <th class="th" style="background: #4CB2FF; color: white">Rejting:</th>
        <th class="th" style="background: #4CB2FF; color: white">Pogledaj {{event}}</th>
        <th class="th" style="background: #4CB2FF; color: white">Posecenost:</th>
        <th class="th" style="background: #4CB2FF; color: white">Prihodi:</th>
      </tr>
      <tr *ngFor="let item of items">
        <th>{{item.name}}</th>
        <th style="text-align: center"> <ngb-rating [readonly]="true" [(rate)]="item.vote" max=5>
          <ng-template let-fill="fill">

              <span class="star fill" [class.filled]="fill === 100" >
                <i  class="ion-android-star" *ngIf="fill === 100" style="color: black" ></i>
                <i  class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
          </ng-template>
        </ngb-rating></th>
        <th class="th" (click)="getAllEvent(item.id ,item.name)">Pogledaj {{event}}</th>
        <th class="th" (click)="showAttendance( item.id )">Pogledaj posecenost</th>
        <th class="th" (click)="showInCome( item.id )">Pogledaj prihode</th>
      </tr>
    </table>
  </div>

  <div *ngIf="choosePlace"  style="margin-top: 30px">
    <button class="btn btn-default" (click)="exit()" style="width: 10%;margin-left: 90%;background: #ebeff5"><i style="font-size: 40px" class="fa fa-times-circle"></i></button>
    <h3 style="margin-bottom: 20px">{{choosePlaceName}}</h3>
    <table>
      <tr>
        <th class="th-hall " style="background: #4CB2FF; color: white">{{typeEvent}}</th>
        <th class="th" style="background: #4CB2FF; color: white">Rejting:</th>
      </tr>
      <tr *ngFor="let ev of events">
        <th>{{ev.name}}</th>
        <th style="text-align: center"> <ngb-rating [readonly]="true" [(rate)]=" ev.vote" max=5>
          <ng-template let-fill="fill">

              <span class="star fill" [class.filled]="fill === 100" >
                <i  class="ion-android-star" *ngIf="fill === 100" style="color: black" ></i>
                <i  class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
          </ng-template>
        </ngb-rating></th>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="people" class="marginDiv">
  people
</div>

<div *ngIf="money" class="marginDiv">
  money
</div>
