
<button class="btn btn-primary-outline pull-right basic_col" (click)="closingClick()"><i class="fa fa-times-circle"></i></button>
<br>
<h5> Zahtevi za oglase </h5>

<br>

<div class="row">
  <div *ngFor="let offer of offers" class="col-md-4 col-sm-6 col-12">


        <ngx-offer-request-card-card (refreshOffersRequests)="updateOfferRequests($event)" id={{offer.id}} name={{offer.name}} description={{offer.description}} price={{offer.startPrice}} image={{offer.image}} date={{offer.endDate}}> </ngx-offer-request-card-card>

  </div>
</div>
