<div class="auth-block">
  <!--<img class="logo" [src]="'assets/logo.png'" alt="logo">-->
  <h2 class="title">Prijava na servis</h2>
  <form (ngSubmit)="signIn()" (keyup.enter)="form.valid && signIn()" [formGroup]="form" autocomplete="nope">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon success">@</span>
        <input placeholder="Username" [formControl]="username" id="input-username"
               class="form-control" placeholder="Email"
               [class.form-control-danger]="username.invalid && username.touched" autofocus/>
    </div>
      <small class="form-text error" *ngIf="username.invalid && username.touched && username.errors?.required">
        Korisnicko ime je obavezano!
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" [formControl]="password" type="password" id="input-password"
             class="form-control" placeholder="Sifra"
             [class.form-control-danger]="password.invalid && password.touched"
      >
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
        Šifra je obavezna!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        Duzina sifre mora biti izmedju 6 i 10 karaktera
      </small>
    </div>
    <div class="form-group accept-group col-sm-12">
      <nb-checkbox name="rememberMe" [formControl]="rememberMe" >Zapamti me</nb-checkbox>
    </div>
    <button [disabled]="!form.valid" class="btn btn-block btn-hero-success"
            [class.btn-pulse]="submitted">
      Potvrdi
    </button>
  </form>
</div>
