:host {

  .cardWrapper {
    text-align: center;
    display: inline-block;
  }

  nb-card {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }



}
