<div class="row">
  <div class="col-md-12 cardWrapper">
    <nb-card>
      <div *ngFor="let item of items"    >
        <div class="col-md-6 cardWrapper">
        <ngx-card-picker type={{item.event.name}} image={{movieImage}} >

        </ngx-card-picker>
        <div class="position">
          <button class="btn" >Detaljnije</button>
        </div>
      </div>
        <div class="col-md-5 cardWrapper position " >
          <h5>Vreme projekcije</h5>
        </div>

</div>
    </nb-card>

  </div>
</div>



