<div class="row ">
  <div class="col-md-12 cardWrapper  ">
    <nb-card>
      <div *ngFor="let item of items"    >
        <div class="col-md-6 cardWrapper ">
        <ngx-card-picker type={{item.event.name}} image={{movieImage}} >
        </ngx-card-picker>
        <div class="position">
          <button class="btn"  (click)="detailProjection( item.id )">Detaljnije</button>
        </div>
      </div>
        <div class="col-md-5 cardWrapper position " >
          <h4>Vreme projekcije</h4>
          <h2>{{item.startTime}}-{{item.endTime}}</h2>
          <h4>{{item.hall.name}}</h4>
        </div>

</div>
    </nb-card>

  </div>
</div>



