.basic_col {
  background-color: #ebeff5;
  font-size : 30px;
}

#button_other {
  font-size: 12px;
}

#button_center {
  background-color : #3c95ff;
}

.glyphicon {
  font-size: 22px;
}

#button_accept {
  font-size: 12px;
}

#button_reject {
  background-color: #ff5d5b;
  font-size: 20px;
}


.table {
  background-color: white;
}
