<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/kitten-cosmic.png" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title"> {{name}} </h5>
  </div>

  <div class="card-body">
    <p class="card-text">Opis: {{description}} </p>
  </div>

  <div class="card-body">
  <label class="card-text">Cena: {{price}} RSD</label>
  </div>



  <div class="card-body">
    <button class="btn btn-default button-res" type="button"> Rezerviši </button>
    <button class="btn btn-default button-other" type="button" (click)="editItem()"> Izmeni </button>
    <button class="btn btn-default button-other" type="button" (click)="deleteItem()"> Obriši </button>


  </div>
</div>
