<div>
  <h2 style="text-align: center;margin-bottom: 40px">Promeni lozinku:</h2>
  <form [formGroup]="form" >
    <div class="form-group" >
      <label>Nova lozinka:</label>
      <input name="password" class="form-control margin"  id="input-password"
             placeholder="unesite vasu lozinku" [formControl]="password"
             style="margin-bottom: 20px">
      <small class="form-text error" *ngIf="password.errors?.required && password.touched ">
        Lozinka je obavezana!
      </small>

      <label>Ponovite lozinku:</label>
      <input name="rePassword" class="form-control margin"  id="input-rePassword"
             placeholder="unesite vasu lozinku" [formControl]="rePassword"
             style="margin-bottom: 20px">
      <small class="form-text error" *ngIf="rePassword.errors?.required && rePassword.touched ">
        Lozinka je obavezana!
      </small>
      <button class="btn btn-hero-success" style="width: 100%" (click)="changePassword()" [disabled]="!form.valid" >Potvrdi</button>
    </div>

  </form>

  <div class="form-group" style="margin-top: 15px;">
    <button class="col-md-12 btn btn-hero-success" (click)="onLogin()">Povratak na prijavu!</button>
  </div>
</div>
