
<button class="btn btn-primary-outline pull-right basic_col" (click)="closingClick()"><i class="fa fa-times-circle"></i></button>
<br>

<div *ngIf="addingAllowed">

  <button  id="button_center" class="btn btn-primary btn-lg btn-block" (click)="openNewBidForm()"><i class="fa fa-plus-circle"></i> Dodaj ponudu </button>

</div>

<br>
<br>
<div>
  <label><h4> Ponude za oglas: <b>" <u>{{name}}</u> "</b></h4></label>
</div>


<div *ngFor="let bid of bids">

      <ngx-bid offerId="{{bid.offer.id}}" id={{bid.id}} ordNum={{bid.ordNum}} username={{bid.userName}} sum={{bid.sum}} ></ngx-bid>

</div>
