<div class="row">
    <div class="col-md-12 cardWrapper">
        <nb-card class="col-md-12 col-xxxl-12" style="padding-top:40px">
            <div class="col-xxxl-5 col-md-5" style="display:inline-block;">
                <div class="row" style="margin-top: 20px;">
                    <img class="img-thumbnail" src="{{profileImage}}">
                    <button *ngIf="!isMyAccount" class="col-md-10 btn btn-hero-info" (click)="addFriend(profileUser.email)">Add Friend</button>
                </div>

                <br>
                <div>
                  <ngx-rank points="{{points}}"></ngx-rank>
                </div>
                <br>

                <div class="row" style="margin-top:15px;">
                    <nb-card class="col-md-10">
                        <nb-tabset fullWidth>
                            <nb-tab tabTitle="Prijatelji">
                                <div class="contact" *ngFor="let friend of friends">
                                  <nb-user [name]="friend.username" [title]="friend.email" size="large"></nb-user>
                                  <i (click)="deleteFriend(friend.email)" class="i-contact fa fa-trash"></i>
                                </div>
                              </nb-tab>
                              <nb-tab tabTitle="Iskoriscene rezervacije">
                                <div class="contact" *ngFor="let res of reservations">
                                  <div class="row" style="border-style: groove;border-width: 3px;margin-left: 15px;margin-right: 15px;margin-bottom: 15px">
                                    <div style=" display: inline-block; text-align: center;margin-top: 23px;margin-bottom: 7px" class="col-md-6">
                                      <h4>{{ res.reservation.projection.event.name }}</h4>
                                      <h5>{{ res.reservation.projection.event.place.name }}</h5>
                                    </div>
                                    <div class="col-md-6" style="display: inline-block;text-align: center">
                                      <button class="btn  btn-hero-success" style="margin-bottom: 7px;margin-top: 7px" (click)="voteForEvent( res.reservation.projection.id , res.reservation.projection.event.id  )">Oceni projekciju</button>
                                      <button  class="btn  btn-hero-success" style="margin-bottom: 7px" (click)="voteForPlace( res.reservation.projection.event.place.id )">Oceni ambijent</button>

                                    </div>
                                  </div>
                                </div>
                            </nb-tab>

                          <nb-tab tabTitle="Aktivne rezervacije">
                            <div class="contact" *ngFor="let act of active">
                              <div class="row" style="border-style: groove;border-width: 3px;margin-left: 15px;margin-right: 15px;margin-bottom: 15px">
                                <div style=" display: inline-block; text-align: center;margin-top: 23px;margin-bottom: 7px" class="col-md-6">
                                  <h4>{{ act.reservation.projection.event.name }}</h4>
                                  <h5>{{ act.reservation.projection.event.place.name }}</h5>
                                </div>
                                <div class="col-md-6" style="display: inline-block;text-align: center">
                                  <button (click)="deleteActiveReservation(act.id,act)" class="btn  btn-hero-success" style="margin-top: 35px" >Odustani</button>
                                </div>
                              </div>
                            </div>

                          </nb-tab>
                            <nb-tab *ngIf="isMyAccount" tabTitle="Zahtevi za prijateljstvo">
                                <div class="contact" *ngFor="let request of requests">
                                    <nb-user [name]="request.username" [title]="request.email" size="large"></nb-user>
                                  <i (click)="acceptFriendRequest(request.email)" class="fa fa-check"></i>
                                  <i (click)="deleteFriendRequest(request.email)" class="fa fa-trash"></i>
                                </div>
                            </nb-tab>


                        </nb-tabset>
                    </nb-card>
                </div>
            </div>
            <div class="col-xxxl-6 col-md-6" style="display:inline-block">
                <nb-card class="col-xxxl-12 col-md-12" style="display:inline-block; top:42px;">
                    <nb-card-header>
                        <h1>{{profileUser.username}}</h1>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputFirstName">Ime:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input [readonly]="!isMyAccount" [(ngModel)]="profileUser.firstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputLastName">Prezime:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input [readonly]="!isMyAccount" [(ngModel)]="profileUser.lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputEmail">Email:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="email" [readonly]="true" [(ngModel)]="profileUser.email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputCity">Grad:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.city" class="form-control" id="inputCity" placeholder="City">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputAddress">Adresa:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.address" class="form-control" id="inputAddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputNumber">Broj:</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.number" class="form-control" id="inputNumber" placeholder="Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" (click)="editAccount()" class="btn btn-hero-success" style="margin-bottom: 20px">Izmeni</button>
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isMyAccount" [size]="large" class="col-md-10" style="margin-top:50px;">
                        <nb-tabset fullWidth>
                            <nb-tab  tabTitle="Pozivi za dogadjaje">
                                <div class="contact" *ngFor="let request of requestsForEvents">
                                    <nb-user [name]="request.username" [title]="request.projection" size="large"></nb-user>
                                  <i (click)="acceptReservationInvitation(request.id)" class="fa fa-check"></i>
                                  <i (click)="declineReservationInvitation(request.id)" class="fa fa-trash"></i>
                                </div>
                            </nb-tab>
                        </nb-tabset>
                    </nb-card>
            </div>
        </nb-card>
    </div>
</div>
