<div class="row">
    <div class="col-md-12 cardWrapper">
        <nb-card class="col-md-12 col-xxxl-12" style="padding-top:40px">
            <div class="col-xxxl-5 col-md-5" style="display:inline-block;">
                <div class="row" style="margin-top: 20px;">
                    <img class="img-thumbnail" src="{{profileImage}}">
                    <button *ngIf="!isMyAccount" class="col-md-9 btn btn-hero-info" (click)="addFriend(profileUser.email)">Add Friend</button>
                </div>
                <div class="row" style="margin-top:15px;">
                    <nb-card [size]="large" class="col-md-9">
                        <nb-tabset fullWidth>
                            <nb-tab tabTitle="Friends">
                                <div class="contact" *ngFor="let friend of friends">
                                  <nb-user [name]="friend.username" [title]="friend.email" size="large"></nb-user>
                                  <i class="i-contact nb-phone"></i>
                                </div>
                              </nb-tab>
                              <nb-tab tabTitle="Recent Visits">
                                <div class="contact" *ngFor="let visit of recentVisitis">
                                  <nb-user [name]="visit.user" [title]="visit.type" size="large"></nb-user>
                                  <span class="time">{{ visit.username }}</span>
                                </div>
                            </nb-tab>
                            <nb-tab *ngIf="isMyAccount" tabTitle="Friend Requests">
                                <div class="contact" *ngFor="let request of requests">
                                    <nb-user [name]="request.username" [title]="request.email" size="large"></nb-user>
                                  <i (click)="acceptFriendRequest(request.email)" class="fa fa-check"></i>
                                  <i (click)="deleteFriendRequest(request.email)" class="fa fa-trash"></i>
                                </div>
                            </nb-tab>
                        </nb-tabset>
                    </nb-card>
                </div>
            </div>
            <div class="col-xxxl-6 col-md-6" style="display:inline-block">
                <nb-card class="col-xxxl-12 col-md-12" style="display:inline-block; top:42px;">
                    <nb-card-header>
                        <h1>{{profileUser.username}}</h1>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputFirstName">First Name</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input [readonly]="!isMyAccount" [(ngModel)]="profileUser.firstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputLastName">Last Name</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input [readonly]="!isMyAccount" [(ngModel)]="profileUser.lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="email" [readonly]="true" [(ngModel)]="profileUser.email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputCity">City</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.city" class="form-control" id="inputCity" placeholder="City">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputAddress">Address</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.address" class="form-control" id="inputAddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-3" style="display:inline-block">
                                        <label for="inputNumber">Number</label>
                                    </div>
                                    <div class="col-md-8" style="display:inline-block">
                                        <input type="text" [readonly]="!isMyAccount" [(ngModel)]="profileUser.number" class="form-control" id="inputNumber" placeholder="Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" (click)="editAccount()" class="btn btn-primary">Submit</button>
                    </nb-card-body>
                </nb-card>
            </div>
        </nb-card>
    </div>
</div>