<div class="offset-1 cardWrapper col-md-10">
  <div class="h"></div>
  <h1>{{event}}</h1>
  <div>
      <img src="{{image}}" class="img" >
  </div>
  <div class="offset-4  cardWrapper">
    <p >Reziser:  {{director}}</p>
    <p >Glumci:  {{actors}}</p>
    <p >Zanr:  {{type}}</p>
    <P>Trajanje:  {{duration}}</P>
    <p>Opis: </p>
    <p>{{descripton}}</p>
    <div class="h"></div>
    <p>Datum:  {{date}}</p>
    <p>Sala:  {{hall}}</p>
    <p>Vreme: {{startTime}} - {{endTime}}</p>
    <p>Cena: </p>
    <button class="btn btn-hero-success">Rezervisi</button>
  </div>


</div>
