<div class="offset-1 cardWrapper col-md-10">
  <div class="h"></div>
  <h1>{{event}}</h1>
  <div class="offset-1">
      <img src="{{image}}" class="img" >
  </div>
  <div class="offset-5  col-md-5 cardWrapper">
    <p >Reziser:  {{director}}</p>
    <p >Glumci:  {{actors}}</p>
    <p >Zanr:  {{type}}</p>
    <P>Trajanje:  {{duration}}</P>
    <p>Opis: </p><p>{{description}}</p>
    <p>{{descripton}}</p>
    <div style=" height: 20px;"></div>
    <p>Datum:  {{date}}</p>
    <p>Sala:  {{hall}}</p>
    <p>Vreme: {{startTime}} - {{endTime}}</p>
    <p>Cena: </p>
    <button class="btn btn-hero-success">Rezervisi</button>
  </div>


</div>
