<div>
  <h2 style="text-align: center;margin-bottom: 40px">Zaboravljena lozinka:</h2>
  <form [formGroup]="form" >
    <div class="form-group" >
      <label>Email:</label>
      <input name="email" class="form-control margin"  id="input-email"
             placeholder="unesite vas email" [formControl]="email"
      style="margin-bottom: 20px">
      <small class="form-text error" *ngIf="email.errors?.required && email.touched ">
        Email je obavezan!
      </small>
      <button class="btn btn-hero-success" style="width: 100%" (click)="requestPassword()" [disabled]="!form.valid" >Potvrdi</button>
    </div>

  </form>

  <div class="form-group" style="margin-top: 15px;">
    <button class="col-md-12 btn btn-hero-success" (click)="onLogin()">Povratak na prijavu!</button>
  </div>
</div>
