<div class="row">
  <div>
    <button class="btn btn-default" (click)="back()" style="width: 20%;background: #ebeff5;margin-right: 30px"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>

    <button class="btn btn-hero-info" (click)="openFormAddProjection()" >Dodaj projekciju</button>
  </div>
  <div class="offset-1 col-md-8" >
    <table>
      <tr>
        <th class="th-hall " style="background: #4CB2FF; color: white">Repertoar za dan:</th>
        <th class="th" style="background: #4CB2FF; color: white">Obrisi</th>
      <tr *ngFor="let item of items">
        <th (click)="getProjections(item.id)">{{item.date}}</th>
        <th class="th" (click)="deleteRepertory(item.id)">Obrisi</th>
      </tr>
    </table>
    </div>
</div>

