<div>
  <button class="btn btn-default" (click)="back()" style="width: 6%;background: #ebeff5;margin-right: 10px"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>

</div>
<div class="offset-1 cardWrapper col-md-10">

  <div class="h"></div>
  <h1>{{event}}</h1>
  <div class="offset-1">
      <img src="{{image}}" class="img" >
  </div>
  <div class="offset-5  col-md-5 cardWrapper">
    <div style="margin-bottom: 10px" >
      <ngb-rating [(rate)]="starRate" max=5>
        <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100" >
                <i  class="ion-android-star" *ngIf="fill === 100" style="color: black" ></i>
                <i  class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
        </ng-template>
      </ngb-rating>
      <span class="current-rate" style="color: black;">{{ starRate }}</span>
    </div>

    <p >Reziser:  {{director}}</p>
    <p >Glumci:  {{actors}}</p>
    <p >Zanr:  {{type}}</p>
    <P>Trajanje:  {{duration}}</P>
    <p>Opis: </p><p>{{description}}</p>
    <p>{{descripton}}</p>
    <div style=" height: 20px;"></div>
    <p>Datum:  {{date}}</p>
    <p>Sala:  {{hall}}</p>
    <p>Vreme: {{startTime}} - {{endTime}}</p>
    <p>Cena: </p>
    <button class="btn btn-hero-success">Rezervisi</button>
  </div>


</div>
