<div >
<button class="btn btn-default" (click)="back()" style="width: 6%;background: #ebeff5"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>
</div>
<div class="row">
  <div class="col-md-4 cardWrapper ">
    <h2>{{nameTitle}}</h2>
    <div class="margin">
      <h4>Rejting:</h4>
          <p >
            <ngb-rating [readonly]="true" [(rate)]="starRate" max=5>
              <ng-template let-fill="fill">

              <span class="star fill" [class.filled]="fill === 100" >
                <i  class="ion-android-star" *ngIf="fill === 100" style="color: black" ></i>
                <i  class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
              </ng-template>
            </ngb-rating>
            <span class="current-rate" style="color: black;">{{ starRate }}</span>
          </p>

    </div>
    <div class="margin">
      <h4> Adresa:</h4>
      <p>{{adr}}</p>
    </div>
    <div class="margin">
      <h4>
        Opis: </h4>
      <p>{{desc}}</p>
    </div>

  </div>

  <div class="col-md-7 cardWrapper margin-repertory">
  <div class="position">
    <button class="btn btn-hero-info" (click)="getEvents()">{{type}}</button>
    <button class="btn btn-hero-info" (click)="getHalls()">Sale</button>
    <button class="btn btn-hero-info" (click)="getRepertories()">Repertoari</button>
    <button class="btn btn-hero-info" (click)="getStatistic()">Statistika</button>
  </div>
    <h1  style="width: 100%; margin-bottom: 20px;background: #ebeff5;color: black;text-align: center" >Repertoari</h1>
    <table class="offset-4 col-md-4 ">
          <tr *ngFor="let item of items"  >
            <th style=" color: black;text-align: center; font-size: 40px; " (click)="getProjections( item.id )">{{item.date}}</th>
          </tr>
    </table>
  </div>

  <div class="col-md-4 cardWrapper margin-tickets ">
    <h2 >Karte na popustu:</h2>
    <div class="row" style="border-style: groove;border-width: 3px;margin-left: 15px;margin-right: 15px;margin-bottom: 15px">
      <div style=" display: inline-block; text-align: center;margin-top: 7px;margin-bottom: 7px" class="col-md-7">
        <h4>Projekcija</h4>
        <h5>Datum</h5>
        <h5>vreme</h5>
        <h5>Sala</h5>
        <h6>Sediste</h6>
      </div>
        <div class="col-md-5" style="display: inline-block;margin-top: 25px;text-align: center">
          <h5 >cena</h5>
          <h6>Popust</h6>
        <button class="btn  btn-hero-success" >Rezervisi</button>
        </div>
    </div>

  </div>
</div>
