.button-res {
  background-color : #3c95ff;
  font-size : 14px;
}

.button-other {
  background-color : #8d8da6;
  font-size : 12px;
  padding: 7px 14px;
}


.basic_col {
  background-color: #8d8da6;
  font-size : 18px;
  padding: 8px 14px;
}
