<div class="auth-block" class="w">
  <!--<img class="logo" [src]="'assets/logo.png'" alt="logo">-->
  <h2 class="title">Dodavanje Biosopa/Pozorista</h2>
  <form >
    <div class="form-group">
      <label>Naziv:</label>
      <input name="password" class="form-control"  id="input-password"
              placeholder="naziv">

      <label >Adresa:</label>
      <input name="address" class="form-control"  id="input-address"
             placeholder="adresa">

      <label >Opis:</label>
      <textarea name="description" class="form-control h" id="input-description"
             placeholder="opis"></textarea>
      <label >Tip:</label>

      <select  class="form-control">
        <option>Bioskop</option>
        <option>Pozoriste</option>
      </select>

      <button class="btn btn-hero-success b">Dodaj</button>

</div>

  </form>
</div>
