<button class="btn btn-primary-outline pull-right basic_col" (click)="close()"><i class="fa fa-times-circle"></i></button>

<br>

<div>
  <label><h3>Podesavanja administratora</h3></label>
</div>

<br>
<div>
  <button  id="button_system" (click)="openSystemAdmins()" class="col-md-12 btn btn-hero-primary btn-lg btn-block">Administratori sistema</button>
  <br>
  <button  id="button_place" (click)="openPlaceAdmins()" class="col-md-12 btn btn-hero-primary btn-lg btn-block">Administratori bioskopa/pozorišta</button>
  <br>
  <button  id="button_fanzone" (click)="openFanZoneAdmins()" class="col-md-12 btn btn-hero-primary btn-lg btn-block">Administratori fan zone</button>
  <br>

</div>
