<div class="row">
  <div>
    <button class="btn btn-default" (click)="back()" style="width: 20%;background: #ebeff5;margin-right: 30px"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>
    <button class="btn  btn-hero-info" (click)="openFormAddEvent()">{{add}}</button>
  </div>
  <div class="offset-1 col-md-8" >
    <table>
      <tr>
        <th class="th-movie " style="background: #4CB2FF; color: white">{{type}}</th>
        <th class="th" style="background: #4CB2FF; color: white">Izmeni</th>
        <th class="th" style="background: #4CB2FF; color: white">Obrisi</th>

        <tr *ngFor="let item of items">
          <th>{{item.name}}</th>
          <th class="th" >Izmeni</th>
          <th class="th" (click)="deleteEvent(item.id)" >Obrisi</th>
        </tr>
    </table>


  </div>

</div>
