<div>
  <button class="btn btn-default" (click)="back()" style="width: 6%;background: #ebeff5;height: 60px"><i style="font-size: 40px" class="fa  fa-arrow-circle-left"></i></button>
</div>
<div  >
  <h2 style="text-align: center;margin-top: 15px;margin-bottom: 20px">{{mode}}</h2>
  <div  style="margin-bottom: 15px" class="row offset-3" >
    <h3 style="margin-top: 8px;margin-right: 10px">Od:</h3>
    <ngbd-datepicker-popup style="margin-right: 30px" id="date_picker_from"></ngbd-datepicker-popup>

    <h3  style="margin-top: 8px;margin-right: 10px">Do:</h3>
    <ngbd-datepicker-popup style="margin-right: 30px;" id="date_picker_to"></ngbd-datepicker-popup>

    <button class="btn btn-hero-info">Prikazi</button>
  </div>


</div>
