#button_accept {
  background-color: #54db74;
  font-size: 20px;
}

.button-res {
  background-color : #3c95ff;
  font-size : 14px;
}

.basic_col {
  background-color: #ebeff5;
  font-size : 30px;
}

.button_other {
  background-color: #b4b4d3;
  font-size : 12px;
}
